name: Deploy to VPS

on:
  push:
    branches:
      - main

env:
  VPS_USER: ${{ secrets.VPS_USER }}
  VPS_PASSWORD: ${{ secrets.VPS_PASSWORD }}
  VPS_HOST: ${{ secrets.VPS_HOST }}
  APP_PATH: /app


jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: vps

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install SSH Client
        run: sudo apt-get update && sudo apt-get install -y openssh-client sshpass

      - name: Copy files to VPS
        run: sshpass -p $VPS_PASSWORD scp -o StrictHostKeyChecking=no -r ./* $VPS_USER@$VPS_HOST:$APP_PATH

      - name: Deploy using docker-compose
        run: |
          sshpass -p $VPS_PASSWORD ssh -o StrictHostKeyChecking=no $VPS_USER@$VPS_HOST << 'EOF'
            cd $APP_PATH
            docker-compose up -d
          EOF
